MAILGUN_API_KEY=sign_up_at_mailgun_dot_com
MAILGUN_SENDER_DOMAIN=configure_at_mailgun_dot_com
SENDER_NAME=Eddie Howe
SENDER_EMAIL=eddie_eddie_eddie_howe@example.net
REPLY_TO_NAME=Eddie's PA
REPLY_TO_EMAIL=pa_to_eddie_eddie_eddie_howe@example.net
EMAIL_SUBJECT=From the boss ⚽️
MESSAGE_SIGN_OFF=Eddie H
