{{define "example_message_html"}}
    <div style="width:400px;font-family:Arial;font-size:14px;">
        <p>Whassup {{.To}},</p>
        <p>Heard about the new role, congrats dude! 🙌<br />You're going to rock those sell-out stadiums ⚽️</p>
        <p>As someone who's been there, done it and got the replica shirt, here's some sound advice for you:</p>
        <p><strong>"The more games you win or draw, the more points you'll receive".</strong></p>
        <p>Remember that. Always.</p>
        <p>Go and be amazing 🌟</p>
        <p>Love {{.From}} x</p>
    </div>
{{end}}
