{{define "message_html"}}
    <div style="width:400px;font-family:Arial;font-size:14px;">
        <p>Whassup {{.Recipient.Name}},</p>
        <p>Heard about the new role, congrats dude! 🙌<br />You're going to rock those sell-out stadiums ⚽️</p>
        <p>As someone who's been there, done it and got the replica shirt, here's some sound advice for you:</p>
        <p><strong>{{.Advice}}</strong></p>
        <p>Remember that. Always.</p>
        <p>Go and be amazing 🌟</p>
        <p>Love {{.Sender.Name}} x</p>
    </div>
{{end}}
